body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img { max-width: 100%;
}

html { box-sizing: border-box;
}



/*
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}
*/


/*header-top*/
.header-top {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.header-top a {
  color: #ffffff;
}
.header-top a:active {
  color: rgba(255,255,255,0.4);
}

.header-top input::placeholder {
  color: #ffffff;
}

.header-top .search-form:hover {
  background-color: #212a3a;
}
.header-top .search-form,
.header-top .search-form:active{
  background-color: #293449;
  color: #ffffff;
  border: none;
}
.header-top .search-form:focus {
  background-color: #ffffff;
  color: #000000;
  outline: 0;
}

.header-top .bookmarks:hover {
  background-color: #212a3a;
}
.header-top .bookmarks:active {
  background-color: #161d29;
}

.header-top .cart:hover {
  background-color: #212a3a;
}
.header-top .cart:active {
  background-color: #161d29;
}

.header-top .order {
  color: #ffffff;
  background-color: #63a63e;
}
.header-top .order:hover {
  background-color: #5fbb2d;
}
.header-top .order:active {
  background-color: #518534;
}

.header-bottom {
  background-color: #f3f7f8;
}

.header-bottom a {
  color: #000000;
}

.header-bottom .description {
  color: #ee3643;
  text-align: left;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-bottom .phone-number {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 2px solid #ffffff;
}

.header-bottom .header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.log-in a {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}
.log-in a:hover:not(.name-link) {
  color: #ee3643;
}
.log-in a:active {
  color: rgba(0,0,0, 0.4);
}

.log-in ul {
  list-style: none;
}

.log-in ul a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.log-in li{
  text-decoration: underline;
}

.log-out a {
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
}

.log-out a:hover {
  color: #ee3643;
}

.log-out a:active {
  color: rgba(0,0,0, 0.4);
}

.main-menu {
  font-size: 17px;
  line-height: 17px;
  border-bottom: 5px solid #293449;

  background-color: #32425c;
}
.main-menu a:hover {
  background-color: #293449;
}
.main-menu a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu ul {
  list-style: none;
}

.main-menu ul a {
  color: #ffffff;
}

.color-menu p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.color-menu a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;

  background-color: rgba(0,0,0,0.1);
}
.color-menu a:hover {
  background-color: rgba(0,0,0,0.2);
}
.color-menu a:active {
  background-color: rgba(0,0,0,0.3);
}

.color-menu:nth-child(1),
.second-row .color-menu:nth-child(2) {
  background-color: #ffbf47;
}
.color-menu:nth-child(2) {
  background-color: #3bbce3;
}
.color-menu:nth-child(3) {
  background-color: #dc91d8;
}
.second-row .color-menu:nth-child(1) {
  background-color: #8ed78f;
}

.slider h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-points {
    list-style: none;
}

.slide a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;
}
.slide a:hover {
  background-color: #ca2c37;
}
.slide a:active {
  background-color: #ba2732;
}

.slide:first-child {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
}
.slide:nth-child(2) {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
}

.popular-items h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f9f5f0;
}

.header-popular-items a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;

  background-color: #ee3643;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item span,
.catalog-item a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: :18px;
  font-weight: 700;
}

.catalog-item span{
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item a {
  color: #ffffff;
  background-color: #ee3643;
}

.item-button button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;

  background-color: #ee3643;
}

.item-button button:first-child {
  background-color: #63a63e;
  border: 2px solid #63a63e;
  border-bottom: 2px solid #367315;
  color: #ffffff;

}
.item-button button:first-child:hover {
  background-color: #5fbb2d;
  border: 2px solid #5fbb2d;
  border-bottom: 2px solid #367315;
}

.item-button button:first-child:active {
  background-color: #518534;
  border: 2px solid #518534;
}

.item-button button:last-child {
  color: #32425c;

  background-color: inherit;
  border: 2px solid #63a63e;
}
.item-button button:last-child:hover {
  border-color: #32425c;
}
.item-button button:last-child:active {
  border-color: rgba(50, 66, 92, 0.7);
  color: rgba(50, 66, 92, 0.7);
}

.popular-manufacturer h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f9f5f0;
}

.popular-manufacturer ul {
  list-style: none;
}

.popular-manufacturer a:active {
  opacity: 0.3;
}

.header-manufacturer a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;

  background-color: #ee3643;
}

.service-section {
  background-color: #f4f8fa;
}

.service-section h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: inherit;
}

.service-section p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.service-slider ul {
  list-style: none;
}

/*
.service-list-text li:first-child {
  background-image: url("../img/car-icon.png");
  background-repeat: no-repeat;
  background-position: center right;
}

 временно
.service-list-text li:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: center right;
}*/

.service-list-text li:last-child {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.service-list button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  border-style: none;
  background-color: #32425c;
}
.service-list button:hover {
  background-color: #293449;
}
.service-list .current-item button {
  background-color: #ffffff;
  color: #32425c;
}

.service-list-text h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
}

.content-credit-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;

  background-color: #ff5357;
  border: none;
}

.tehnomart-text-contacts h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: inherit;
  text-transform: uppercase;

  background-color: inherit;
}

.about-tehnomart ul {
  list-style: none;
}

.about-tehnomart p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.about-tehnomart a {
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
}

.about-tehnomart li {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.map a {
  color: #ffffff;
  background-color: #ee3643;
  text-decoration: none;
}

.map p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.main-footer,
.main-footer a {
  color: #ffffff;
}
.main-footer ul {
  list-style: none;
}

.footer-top {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;

  background-color: #32425c;
}

.footer-top p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer-site-menu a,
.footer-products-menu a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

}

.footer-site-menu a:active {
  opacity: 0.5;
}

.footer-products-menu a {
  color: #ffd180;
}
.footer-products-menu a:hover {
  text-decoration: underline;
}
.footer-products-menu a:active {
  opacity: 0.5;
}


.htmlacademy-footer-copyright a,
.email a {
  color: #ffd180;
}

.email a:hover,
.htmlacademy-footer-copyright a:hover {
  text-decoration: underline;
}

.email a:active,
.htmlacademy-footer-copyright a:active {
  color: #ee3643;
}

.footer-bottom {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
}

.footer-bottom b {
  font-weight: 400;
}

/*основные стили модальных окон*/

.modal-write label {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.modal-write input::placeholder,
.modal-write textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 18px;
  color: #a9a9a9;
}
.modal-write-form button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;

  background-color: #ee3643;

  border-style: none;
}

.modal-cart h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: inherit;

}

.modal-cart a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  text-align: center;

  background-color: #ee3643;
}
.modal-cart a:nth-of-type(2) {
  color: inherit;
  background-color: inherit;
}

.modal-cart-bottom {
  background-color: #f1f1f1;
}


/*основные стили каталога*/

.breadcrumbs ul {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
}


.inner-page h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filters-section h2 {
  background-color: #f7f3ec;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

/*фильтр по цене*/
.price-form {
  height: 80px;
  width: 220px;
  background-color: #f7f3ec;
}

.range {
  height: 2px;
  width: 140px;
  background-color: #d7dcde;
  position: relative;
  top: 50%;
  left: 30px;
}
.range::before {
  content: "";
  display: block;
  height: 2px;
  width: 120px;
  background-color: #00ca74;

}

.filter-price-min,
.filter-price-max {
  background-color: #f7f3ec;
  border: none;
}

.filter ul {
  list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

/*подпись не меняет цвет при disabled - разобраться*/
.filter-input:disabled + label {
  color: #000000;
  opacity: 0.7;
}

.inner-page button {
  border: none;
  border: 1px solid #000000;
  background-color: inherit;
}

.sorting {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px dotted #ee3643;
}
.sorting a:hover {
  color: inherit;
  border-bottom: 2px solid #ee3643;
}
.sorting a:active {
  border-style: none;
  color: #ee3643;
}

.pagination-list {
  list-style: none;
}

.pagination-list a  {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: inherit;
}

.pagination-item a {
  border: 1px solid #e5e5e5;
}

.pagination-item a:hover {
  border: 1px solid #bdc6ca;
}
.pagination-item a:active {
  border: 1px solid #ee3643;
}
.current-pagination a,
.current-pagination a:hover,
.current-pagination a:active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.about-item {
  background-color: #f2f6f8;
}

.about-item h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.about-item p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}





/*сетка*/

.main-header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;


  /*временно*/
  min-height: 320px;

}

.header-top {
  width: 100%;

  /* временно*/
  min-height: 42px;
  display: flex;
}

.header-top-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo {
/*временно, без учета выступающей полоски, полоска +5px*/
  height: 42px;
  width: 220px;
  margin: 0;
  padding: 0;
}

.search {
  width: 270px;

}
.bookmarks {
  width: 140px;
  text-align: center;
}
.cart {
  width: 140px;
  text-align: center;
}
.order {
  width: 150px;
  text-align: center;
}

.header-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*временно*/
  min-height: 280px;
}


.header-bottom-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;

}

.description {
  width: 200px;
  margin-top: 45px;
  margin-left: 45px;
}

.contacts a {
  display: block;
  height: 45px;
  width: 270px;
}

.contacts {
  width: 300px;
  margin-top: 45px;
  margin-left: 68px;
}

.login-link {
  width: 121px;
  text-align: center;
  margin-left: 68px;

}

.checkin-link {
  width: 150px;
  margin-left: 5px;
}

.log-out {
  width: 262px;
  margin-top: 45px;
  margin-left: auto;
}

.main-menu ul {
  /*временно*/
  min-height: 60px;

  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.main-menu li{
  /*временно*/
  min-height: 60px;
  text-align: center;

}

.main-menu {
  width: 940px;
}


/*промо-меню*/

.promo-menu {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}


.color-menu {
  width: 300px;
  min-height: 125px;
}

.color-menu:first-child {
  margin: 0;
  margin-right: 20px;
}

.color-menu:nth-child(3) {
  margin: 0;
  margin-left: auto;
}

.slide {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  width: 620px;
  min-height: 320px;
  margin-top: 20px;
}

.slide h2 {
  margin-top: 0;
}

.second-row {
  display: flex;
  flex-direction: column;
}

.second-row .color-menu:first-child {
  min-height: 125px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.second-row .color-menu:nth-child(2) {
  min-height: 125px;
  margin: 0;
}

/*популярные товары*/

 .popular-items {
   margin-bottom: 20px;
 }


 .header-popular-items {
   /*временно*/
   min-height: 89px;
   width: 940px;
   margin: 0 auto;
   background-color: #f9f5f0;
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;

 }

 .header-popular-items a {
   display: block;
   min-height: 38px;
   width: 253px;
   margin-bottom: 45px;
 }

 .header-manufacturer {
   min-height: 89px;
   width: 940px;
   margin: 0 auto;
   background-color: #f9f5f0;
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }

 .header-manufacturer a {
   display: block;
   min-height: 38px;
   width: 253px;
   margin-bottom: 45px;
 }

 .popular-list {
   display: flex;
   justify-content: space-between;
   width: 940px;
   margin: 0 auto;
 }

 .catalog-item {
   width: 220px;
   min-height: 316px;
   margin-bottom: 22px;
 }

 .manufacturer-list {
   width: 940px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
 }

 .manufacturer-list li {
   width: 220px;
   min-height: 145px;
   margin-bottom: 20px;
   margin-right: 20px;
 }

 .manufacturer-list li:nth-child(4n) {
   margin-right: 0;
 }

/*сервисы*/
.service-section-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 50px;
}

.service-section p {
  width: 400px;
  margin-bottom: 60px;
}

.service-slider {
  min-height: 340px;
  display: flex;
}

.service-slider .service-list {
  width: 240px;
  padding: 0;
  margin: 0;
  margin-right: 80px;
}

.service-list-text {
  width: 620px;
  padding: 0;
  margin: 0;
}

.service-list-text li {
  min-height: 300px;
  width: 620px;
}

.service-list-text h2 {
  margin-top: 0;
}

.service-list-text p {
  width: 300px;
}

.tehnomart-text-contacts {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 50px;
  display: flex;
}

.about-tehnomart {
  min-height: 390px;
  width: 540px;
  margin: 0;
  margin-right: 100px;
  padding: 0

}

.map {
  min-height: 390px;
  width: 300px;
  margin: 0;
  margin-left: auto:
  padding: 0;

}

/*футер*/
.footer-top {
  width: 100%;
  min-height: 193px;
  display: flex;
  flex-wrap: wrap;
}

.footer-top-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 85px;
  display: flex;
}

.footer-middle-container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 85px;
  display: flex;
  flex-direction: row-reverse;
}

.footer-top-container a:first-child {
  display: block;
  margin-right: auto;
}


.footer-site-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  width: 560px;
  margin-left: auto;
  justify-content: space-between;

}

.footer-site-menu li {
  min-height: 80px;
  text-align: center;
}

.footer-products-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 80px;
  width: 540px;
  justify-content: space-between;
}

.footer-products-menu li {
  min-height: 80px;
  text-align: center;
}

.footer-contacts {
  width: 380px;
  min-height: 65px;
  margin-right: auto;
}

/*нижняя часть футера*/
.footer-bottom {
  width: 100%;
  min-height: 107px;
  display: flex;
  padding: 30px 0;
}

.copyright-tehnomart {
  margin: 0;
  min-height: 60px;
  width: 240px;
  margin-right: 150px;
}

.footer-bottom ul {
  margin: 0;
  padding: 0;
  min-height: 60px;
  width: 150px;
}

.email {
  margin: 0;

  min-height: 60px;
  width: 140px;
  margin-left: auto;
  margin-right: 35px;
}

.htmlacademy-footer-copyright {
  margin: 0;
  min-height: 60px;
  width: 120px;

}

.footer-bottom-wrapper {

  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
}


/*пять метров пустоты, а потом сетка каталога*/

.inner-page {
  width: 940px;
  margin: 0 auto;
  min-height: 1630px
}

.breadcrumbs {
  width: 940px;
  min-height: 60px;
  display: flex;
  margin: 0 auto;
  padding: 0 10;
}
.breadcrumbs ul {
  width: 380px;
  min-height: 40px;
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  padding: 0;
  margin: 0;
  margin-left: 20px;
}

.perforator-wrapper {
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

h1 {
  width: 940px;
  min-height: 89px;
  align-self: center;
}

.sorting {
  width: 700px;
  min-height: 38px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.sorting ul {
  width: 460px;
  display: flex;
  margin-left: auto;

}

.sorting li {
  margin-left: 50px;
}

.catalog-section {
  width: 700px;
  min-height: 995px;
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.inner-page .catalog-item {
  margin-right: 20px;
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0px;
}
